<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
	<title>雲端技術實務期末作品-手寫辯識</title>
</head>
<body>
	<div id="container">
		<h2>雲端技術實務期末專題-虛擬化部署手寫數字辨識網頁</h2>
		<h3><a href="https://hackmd.io/@qaz5823091/rJJBHWcUn">過程筆記 - 資工三甲 1092926 葉宗羲</a></h3>
		<div id="tool-list">
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
	<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>